
<div class="container">
    <h1 class="text-center">Welcome to E-Wallet</h1>
    <div  class="bg-primary text-white text-center">
       
            <div class="btn-group btn-group-justified ">
                        
                    <button type="button" class="btn btn-primary" routerLink="/"><i class="fa fa-home" style="font-size: 50px;"></i><br>  Home</button>
                
               
                    <button type="button" class="btn btn-primary" routerLink="/availablebalance"><i class="fa fa-rupee" style="font-size: 50px;"></i><br>Check Account Balance</button>
                
                
                    <button type="button" class="btn btn-primary" routerLink="/detail"><i class="fa fa-plus-square-o" style="font-size: 50px;"></i><br>Add Money</button>
               
               
                    <button type="button" class="btn btn-primary" routerLink="/detail/bankdetails"><i class="fa fa-bank" style="font-size: 50px;"></i><br>Link Wallet <br>with Bank Account</button>

                    <button type="button" class="btn btn-primary" routerLink="/detail/transactionhistory"><i class="fa fa-history" style="font-size: 50px;"></i><br>Credit History</button>
                
            </div>
        
    </div>
    
        </div>
        <router-outlet></router-outlet>
